DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=nest_db
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET

# USING ETHEREAL FOR TESTING PURPOSE  BUT ITS WORK PERFECT WEITH PROPER GMAIL APP AND PASSWORD TESTED AND VERIFIED.
# VISIT WEBSITE https://ethereal.email CLICK ON CREATE ACCOUNT , GIVES YOU DEFAULT EMAIL AND PASSWORD YOUCAN CHANGE HERE AND TEST THEM.
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_PASSWORD=c1DQEf2PV8qSpgxSwp
MAIL_USER=guy.gerlach20@ethereal.email #YOU CAN USE YOUR GMAIL ALSO BUT YOU WILL REQUIRED TO CREATE APP AND CHANGE THE ABOVE MAIL_PASSWORD
MAIL_FROM=guy.gerlach20@ethereal.email #YOU CAN USE YOUR GMAIL ALSO BUT YOU WILL REQUIRED TO CREATE APP AND CHANGE THE ABOVE MAIL_PASSWORD